In [1]:
import pandas as pd
import numpy as np
from textblob import TextBlob
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
from google.colab import files


uploaded = files.upload()

Saving cloths-rating (2).csv to cloths-rating (2).csv

In [3]:
import pandas as pd
import io

df = pd.read_csv(io.BytesIO(uploaded['cloths-rating (2).csv']))
print(df)

     ProductID                UserID  Rating  \
0          777  AV1YnR7wglJLPUi8IJmi       4
1          767  AVpfpK8KLJeJML43BCuD       4
2         1080  AVqkIdntQMlgsOJE6fuB       5
3         1077  AVpfpK8KLJeJML43BCuD       3
4         1049  AVpfpK8KLJeJML43BCuD       5
..         ...                   ...     ...
629        823            B08GWV3SM6       1
630        823            B08GWV3SM6       3
631        847            B08GWV3SM6       5
632        910  AVph0EeEilAPnD_x9myq       3
633        333  AVqkIdntQMlgsOJE6fuB       5

                                                  Text
0                        Great taffy at a great price.
1    Absolutely wonderful - silky and sexy and comf...
2                   Love this dress! it's sooo pretty.
3    I had such high hopes for this dress and reall...
4    I love, love, love this jumpsuit. it's fun, fl...
..                                                 ...
629  I placed order 4+1 soaps.But I have received w...
630  The soap is ok for bathing, no scent at all, m...
631  For a long time I was searching for Indian soa...
632                                 Good but not great
633                    Quick,easy to make & tasty too.

[634 rows x 4 columns]

# Load .csv file

In [4]:
df = pd.read_csv("/content/cloths-rating (2).csv")
df.head()

,ProductID,UserID,Rating,Text
0,777,AV1YnR7wglJLPUi8IJmi,4,Great taffy at a great price.
1,767,AVpfpK8KLJeJML43BCuD,4,Absolutely wonderful - silky and sexy and comf...
2,1080,AVqkIdntQMlgsOJE6fuB,5,Love this dress! it's sooo pretty.
3,1077,AVpfpK8KLJeJML43BCuD,3,I had such high hopes for this dress and reall...
4,1049,AVpfpK8KLJeJML43BCuD,5,"I love, love, love this jumpsuit. it's fun, fl..."

# Find Sentiment on Text(Reviews)

In [5]:
def sentiment_calc(text):
    try:
        return TextBlob(str(text)).sentiment.polarity
    except:
        return None
df['sentiment'] = df['Text'].apply(sentiment_calc)
df

,ProductID,UserID,Rating,Text,sentiment
0,777,AV1YnR7wglJLPUi8IJmi,4,Great taffy at a great price.,0.800000
1,767,AVpfpK8KLJeJML43BCuD,4,Absolutely wonderful - silky and sexy and comf...,0.633333
2,1080,AVqkIdntQMlgsOJE6fuB,5,Love this dress! it's sooo pretty.,0.437500
3,1077,AVpfpK8KLJeJML43BCuD,3,I had such high hopes for this dress and reall...,0.120000
4,1049,AVpfpK8KLJeJML43BCuD,5,"I love, love, love this jumpsuit. it's fun, fl...",0.550000
...,...,...,...,...,...
629,823,B08GWV3SM6,1,I placed order 4+1 soaps.But I have received w...,0.000000
630,823,B08GWV3SM6,3,"The soap is ok for bathing, no scent at all, m...",0.325000
631,847,B08GWV3SM6,5,For a long time I was searching for Indian soa...,-0.025000
632,910,AVph0EeEilAPnD_x9myq,3,Good but not great,0.150000
633,333,AVqkIdntQMlgsOJE6fuB,5,"Quick,easy to make & tasty too.",0.000000

# Apply Multiplication B/W Rating&Sentiment

In [6]:
df['Updated_score'] = df['Rating']*df['sentiment']
df

,ProductID,UserID,Rating,Text,sentiment,Updated_score
0,777,AV1YnR7wglJLPUi8IJmi,4,Great taffy at a great price.,0.800000,3.200000
1,767,AVpfpK8KLJeJML43BCuD,4,Absolutely wonderful - silky and sexy and comf...,0.633333,2.533333
2,1080,AVqkIdntQMlgsOJE6fuB,5,Love this dress! it's sooo pretty.,0.437500,2.187500
3,1077,AVpfpK8KLJeJML43BCuD,3,I had such high hopes for this dress and reall...,0.120000,0.360000
4,1049,AVpfpK8KLJeJML43BCuD,5,"I love, love, love this jumpsuit. it's fun, fl...",0.550000,2.750000
...,...,...,...,...,...,...
629,823,B08GWV3SM6,1,I placed order 4+1 soaps.But I have received w...,0.000000,0.000000
630,823,B08GWV3SM6,3,"The soap is ok for bathing, no scent at all, m...",0.325000,0.975000
631,847,B08GWV3SM6,5,For a long time I was searching for Indian soa...,-0.025000,-0.125000
632,910,AVph0EeEilAPnD_x9myq,3,Good but not great,0.150000,0.450000
633,333,AVqkIdntQMlgsOJE6fuB,5,"Quick,easy to make & tasty too.",0.000000,0.000000

# Make UserId into Normal Form

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['UserID'] = le.fit_transform(df['UserID'])
df

,ProductID,UserID,Rating,Text,sentiment,Updated_score
0,777,0,4,Great taffy at a great price.,0.800000,3.200000
1,767,3,4,Absolutely wonderful - silky and sexy and comf...,0.633333,2.533333
2,1080,13,5,Love this dress! it's sooo pretty.,0.437500,2.187500
3,1077,3,3,I had such high hopes for this dress and reall...,0.120000,0.360000
4,1049,3,5,"I love, love, love this jumpsuit. it's fun, fl...",0.550000,2.750000
...,...,...,...,...,...,...
629,823,41,1,I placed order 4+1 soaps.But I have received w...,0.000000,0.000000
630,823,41,3,"The soap is ok for bathing, no scent at all, m...",0.325000,0.975000
631,847,41,5,For a long time I was searching for Indian soa...,-0.025000,-0.125000
632,910,7,3,Good but not great,0.150000,0.450000
633,333,13,5,"Quick,easy to make & tasty too.",0.000000,0.000000

# Make function for classify updated_score

In [8]:
classify = {'1':[-5,-4,-3.75,-3.25,3,-2.75,-2.50,-2.25,-2,-1.5,-1.25,-1,-0.75,-0.5,-0.25],
            '2':[-0.24,0.25,0.5,0.75,1] ,
            '3': [1.01,1.25,1.5,1.75,2],
            '4': [2.01,2.25,2.5,2.75,3],
            '5':[3.01,3.25,3.50,3.75,4,5]}

def fun(values):
    for i in classify:
        for j in classify[i]:
            if values == j:
                return i
            if values <= j:
                return i

# Apply function on updated_score and put into New_score column

In [9]:
df['New_score'] = df['Updated_score'].apply(fun)
df['New_score'] = pd.to_numeric(df['New_score'])
df

,ProductID,UserID,Rating,Text,sentiment,Updated_score,New_score
0,777,0,4,Great taffy at a great price.,0.800000,3.200000,5
1,767,3,4,Absolutely wonderful - silky and sexy and comf...,0.633333,2.533333,1
2,1080,13,5,Love this dress! it's sooo pretty.,0.437500,2.187500,1
3,1077,3,3,I had such high hopes for this dress and reall...,0.120000,0.360000,1
4,1049,3,5,"I love, love, love this jumpsuit. it's fun, fl...",0.550000,2.750000,1
...,...,...,...,...,...,...,...
629,823,41,1,I placed order 4+1 soaps.But I have received w...,0.000000,0.000000,1
630,823,41,3,"The soap is ok for bathing, no scent at all, m...",0.325000,0.975000,1
631,847,41,5,For a long time I was searching for Indian soa...,-0.025000,-0.125000,1
632,910,7,3,Good but not great,0.150000,0.450000,1
633,333,13,5,"Quick,easy to make & tasty too.",0.000000,0.000000,1

# Pivot table of ProductID, UserID and New_score

In [10]:
df_pivot = df.pivot_table(index='ProductID',columns='UserID',values='New_score').fillna(0)
df_pivot

UserID,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
ProductID,,,,,,,,,,,,,,,,,,,,,
89,0.0,0.0,0.0,1.0,0.0,0.0,5.0,1.000000,1.000000,0.0,...,0.0,1.0,0.000000,0.0,0.0,1.0,0.000000,0.0,0.000000,2.0
333,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.000000,3.666667,1.0,...,0.0,1.0,2.333333,0.0,0.0,1.0,0.000000,0.0,0.000000,0.0
369,5.0,1.0,0.0,1.0,0.0,1.0,5.0,1.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,1.000000,0.0,5.000000,0.0
444,1.0,1.0,0.0,0.0,1.0,0.0,1.0,5.000000,1.000000,0.0,...,1.0,0.0,3.000000,0.0,0.0,1.0,0.000000,0.0,2.333333,0.0
684,0.0,0.0,1.0,3.0,1.0,0.0,1.0,1.000000,1.000000,0.0,...,1.0,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,1.0
697,0.0,1.0,1.0,0.0,0.0,0.0,5.0,0.000000,1.000000,1.0,...,1.0,1.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,3.0
767,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000,0.000000,0.0,...,0.0,1.0,0.000000,0.0,1.0,0.0,1.000000,1.0,0.000000,0.0
777,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.000000,1.0,...,0.0,1.0,0.000000,0.0,0.0,0.0,5.000000,0.0,0.000000,0.0
823,0.0,0.0,0.0,5.0,0.0,0.0,5.0,1.000000,0.000000,0.0,...,0.0,5.0,0.000000,0.0,0.0,5.0,0.000000,0.0,0.000000,1.0
847,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.000000,5.000000,0.0,...,0.0,1.0,0.000000,0.0,1.0,0.0,0.000000,1.0,0.000000,1.0
853,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,1.0,0.0,0.000000,1.0,0.000000,0.0
858,0.0,0.0,0.0,0.0,1.0,0.0,3.0,2.333333,1.000000,5.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,3.0,0.000000,0.0
862,1.0,1.0,0.0,1.0,1.0,0.0,2.0,1.000000,1.000000,0.0,...,1.0,2.0,5.000000,0.0,0.0,2.6,0.000000,0.0,0.000000,0.0
910,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.333333,3.000000,0.0,...,0.0,3.0,5.000000,0.0,0.0,1.0,0.000000,0.0,0.000000,0.0
949,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.000000,3.000000,0.0,...,1.0,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,1.0
1002,5.0,5.0,1.0,0.0,0.0,0.0,1.0,0.000000,0.000000,0.0,...,1.0,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
1003,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,1.000000,0.0,...,1.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
1049,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
1060,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.000000,1.000000,0.0,...,2.0,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
1065,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,1.0,0.0,0.000000,1.0,0.000000,0.0
1077,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.000000,1.000000,1.0,...,0.0,0.0,0.000000,0.0,1.0,1.0,0.000000,3.0,0.000000,0.0
1080,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.000000,0.000000,1.0,...,0.0,5.0,0.000000,0.0,1.0,0.0,0.000000,3.0,0.000000,0.0
1095,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.000000,0.000000,1.0,...,0.0,0.0,0.000000,5.0,0.0,0.0,1.000000,1.0,3.000000,0.0
1120,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,1.0,0.0,0.000000,1.0,0.000000,0.0
6969,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1.0,...,0.0,1.0,0.000000,0.0,0.0,1.0,0.000000,0.0,0.000000,0.0
8001,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,3.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,2.333333,0.0,1.000000,0.0
9696,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.000000,1.000000,1.0,...,0.0,2.0,0.000000,0.0,0.0,1.0,0.000000,0.0,0.000000,0.0

# Sparse Matrix (Compressed Sparse Row)

In [11]:
from scipy.sparse import csr_matrix

df_pivot_matrix = csr_matrix(df_pivot.values) 
print(df_pivot_matrix)

  (0, 3)	1.0
  (0, 6)	5.0
  (0, 7)	1.0
  (0, 8)	1.0
  (0, 11)	1.0
  (0, 16)	3.0
  (0, 18)	2.6
  (0, 20)	1.0
  (0, 22)	5.0
  (0, 28)	1.0
  (0, 33)	1.0
  (0, 37)	1.0
  (0, 41)	2.0
  (1, 1)	1.0
  (1, 5)	1.0
  (1, 8)	3.6666666666666665
  (1, 9)	1.0
  (1, 10)	1.0
  (1, 13)	1.0
  (1, 17)	1.0
  (1, 22)	5.0
  (1, 25)	1.0
  (1, 29)	1.0
  (1, 33)	1.0
  (1, 34)	2.3333333333333335
  :	:
  (25, 17)	3.0
  (25, 21)	1.0
  (25, 22)	1.0
  (25, 25)	1.0
  (25, 30)	2.3333333333333335
  (25, 38)	2.3333333333333335
  (25, 40)	1.0
  (26, 0)	1.0
  (26, 1)	1.0
  (26, 3)	1.0
  (26, 6)	1.0
  (26, 7)	1.0
  (26, 8)	1.0
  (26, 9)	1.0
  (26, 11)	1.0
  (26, 16)	1.0
  (26, 17)	1.0
  (26, 18)	2.3333333333333335
  (26, 19)	1.0
  (26, 22)	1.0
  (26, 23)	1.0
  (26, 25)	3.6666666666666665
  (26, 28)	1.0
  (26, 33)	2.0
  (26, 37)	1.0

# Fitting data into NearestNeighborsModel

In [12]:
from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', n_neighbors=20, radius=1)
model_knn.fit(df_pivot_matrix)

NearestNeighbors(metric='cosine', n_neighbors=20, radius=1)

# Matrix of cosine similarity

In [13]:
similarity_matrix = cosine_similarity(df_pivot)
similarity_matrix

array([[1.        , 0.47373867, 0.36248483, 0.30429945, 0.52996712,
        0.59794843, 0.19542402, 0.15649546, 0.58710661, 0.22029211,
        0.1549826 , 0.33271247, 0.38299161, 0.28768679, 0.25514765,
        0.0757701 , 0.27277236, 0.02036765, 0.12858612, 0.05670115,
        0.21206395, 0.23377509, 0.08875134, 0.        , 0.44103146,
        0.27326076, 0.49865562],
       [0.47373867, 1.        , 0.14514333, 0.23613411, 0.1927369 ,
        0.29305721, 0.13414312, 0.03546944, 0.20150111, 0.33518903,
        0.04432637, 0.18322813, 0.4093987 , 0.40258273, 0.40643592,
        0.13349279, 0.13349279, 0.02446637, 0.24713975, 0.        ,
        0.13299624, 0.15441463, 0.06092077, 0.        , 0.48162097,
        0.22977556, 0.40572885],
       [0.36248483, 0.14514333, 1.        , 0.35322912, 0.12848126,
        0.3876481 , 0.41804683, 0.50283872, 0.30474669, 0.20374377,
        0.08306443, 0.24352175, 0.27053117, 0.13062139, 0.23451525,
        0.46718836, 0.13348239, 0.20930708, 0.24917984, 0.01248613,
        0.33757955, 0.12288373, 0.36481931, 0.        , 0.07063224,
        0.24738457, 0.28669272],
       [0.30429945, 0.23613411, 0.35322912, 1.        , 0.57078179,
        0.43872404, 0.21763891, 0.23018791, 0.29807692, 0.43438529,
        0.41739943, 0.32787827, 0.52610906, 0.43793714, 0.52905983,
        0.23627322, 0.1111874 , 0.05604024, 0.37738254, 0.        ,
        0.3678969 , 0.37287915, 0.27907815, 0.        , 0.1470871 ,
        0.20884965, 0.41678696],
       [0.52996712, 0.1927369 , 0.12848126, 0.57078179, 1.        ,
        0.41596829, 0.17943514, 0.1562905 , 0.3805212 , 0.28317606,
        0.46969124, 0.2486975 , 0.41417235, 0.34648572, 0.3481132 ,
        0.12031668, 0.24063336, 0.06930462, 0.26252251, 0.06431197,
        0.28013375, 0.26447584, 0.07190297, 0.0525105 , 0.13642629,
        0.09298191, 0.49454175],
       [0.59794843, 0.29305721, 0.3876481 , 0.43872404, 0.41596829,
        1.        , 0.22846125, 0.19220907, 0.54986747, 0.52033451,
        0.51243691, 0.36702358, 0.38142559, 0.2780089 , 0.5488142 ,
        0.23674844, 0.37203326, 0.02272858, 0.22958595, 0.1581842 ,
        0.28036303, 0.30023769, 0.0565937 , 0.15498823, 0.178965  ,
        0.10672755, 0.32208742],
       [0.19542402, 0.13414312, 0.41804683, 0.21763891, 0.17943514,
        0.22846125, 1.        , 0.33652809, 0.23897606, 0.44236099,
        0.26702293, 0.25352214, 0.16130838, 0.14486613, 0.18663865,
        0.11514155, 0.06579517, 0.72956019, 0.08374358, 0.29234229,
        0.66558904, 0.34395648, 0.42662346, 0.35176324, 0.08703883,
        0.23728672, 0.179976  ],
       [0.15649546, 0.03546944, 0.50283872, 0.23018791, 0.1562905 ,
        0.19220907, 0.33652809, 1.        , 0.16850357, 0.11380558,
        0.09884679, 0.20247318, 0.18767031, 0.04085842, 0.17829694,
        0.45232785, 0.03479445, 0.16367833, 0.17714442, 0.01627361,
        0.17599168, 0.22994205, 0.21833344, 0.        , 0.09205746,
        0.26665414, 0.28200499],
       [0.58710661, 0.20150111, 0.30474669, 0.29807692, 0.3805212 ,
        0.54986747, 0.23897606, 0.16850357, 1.        , 0.30530439,
        0.26071796, 0.24092981, 0.5278831 , 0.26354809, 0.20348455,
        0.06177078, 0.22237479, 0.08302258, 0.04193139, 0.12711879,
        0.23953655, 0.32901102, 0.12403473, 0.03774257, 0.42491829,
        0.06683189, 0.4505805 ],
       [0.22029211, 0.33518903, 0.20374377, 0.43438529, 0.28317606,
        0.52033451, 0.44236099, 0.11380558, 0.30530439, 1.        ,
        0.47407835, 0.2367919 , 0.22911233, 0.36071294, 0.65084788,
        0.02595871, 0.23362836, 0.33145137, 0.29368924, 0.40065542,
        0.53395392, 0.32773788, 0.1846082 , 0.35687321, 0.03434014,
        0.12092411, 0.17357366],
       [0.1549826 , 0.04432637, 0.08306443, 0.41739943, 0.46969124,
        0.51243691, 0.26702293, 0.09884679, 0.26071796, 0.47407835,
        1.        , 0.20516101, 0.21321153, 0.34891687, 0.47216349,
        0.10145993, 0.60875959, 0.09740465, 0.0491952 , 0.47453538,
        0.33968176, 0.44319192, 0.04850713, 0.44280744, 0.03834825,
        0.05227282, 0.1644642 ],
       [0.33271247, 0.18322813, 0.24352175, 0.32787827, 0.2486975 ,
        0.36702358, 0.25352214, 0.20247318, 0.24092981, 0.2367919 ,
        0.20516101, 1.        , 0.27541696, 0.21216581, 0.18503171,
        0.06740297, 0.16850742, 0.15853685, 0.19064438, 0.11033698,
        0.43278766, 0.43214152, 0.3665569 , 0.20591947, 0.26749723,
        0.2734708 , 0.38923394],
       [0.38299161, 0.4093987 , 0.27053117, 0.52610906, 0.41417235,
        0.38142559, 0.16130838, 0.18767031, 0.5278831 , 0.22911233,
        0.21321153, 0.27541696, 1.        , 0.70583296, 0.4422724 ,
        0.33272733, 0.31521537, 0.09414734, 0.4854069 , 0.1146666 ,
        0.25982351, 0.39037045, 0.13186405, 0.05349994, 0.37860111,
        0.15788988, 0.45783353],
       [0.28768679, 0.40258273, 0.13062139, 0.43793714, 0.34648572,
        0.2780089 , 0.14486613, 0.04085842, 0.26354809, 0.36071294,
        0.34891687, 0.21216581, 0.70583296, 1.        , 0.66774197,
        0.16775425, 0.35647779, 0.01409181, 0.37958454, 0.09807483,
        0.22391171, 0.44055159, 0.06432859, 0.03203111, 0.47157578,
        0.43484132, 0.41213748],
       [0.25514765, 0.40643592, 0.23451525, 0.52905983, 0.3481132 ,
        0.5488142 , 0.18663865, 0.17829694, 0.20348455, 0.65084788,
        0.47216349, 0.18503171, 0.4422724 , 0.66774197, 1.        ,
        0.31373219, 0.39216524, 0.05270869, 0.46586854, 0.1100511 ,
        0.30965997, 0.45644108, 0.0656218 , 0.11980846, 0.20751434,
        0.38893874, 0.26222245],
       [0.0757701 , 0.13349279, 0.46718836, 0.23627322, 0.12031668,
        0.23674844, 0.11514155, 0.45232785, 0.06177078, 0.02595871,
        0.10145993, 0.06740297, 0.33272733, 0.16775425, 0.31373219,
        1.        , 0.10714286, 0.24000768, 0.42426407, 0.        ,
        0.15655834, 0.08454479, 0.01494036, 0.05455447, 0.        ,
        0.12880164, 0.26051414],
       [0.27277236, 0.13349279, 0.13348239, 0.1111874 , 0.24063336,
        0.37203326, 0.06579517, 0.03479445, 0.22237479, 0.23362836,
        0.60875959, 0.16850742, 0.31521537, 0.35647779, 0.39216524,
        0.10714286, 1.        , 0.        , 0.24243661, 0.53452248,
        0.21075162, 0.38045154, 0.        , 0.32732684, 0.09449112,
        0.16100205, 0.17367609],
       [0.02036765, 0.02446637, 0.20930708, 0.05604024, 0.06930462,
        0.02272858, 0.72956019, 0.16367833, 0.08302258, 0.33145137,
        0.09740465, 0.15853685, 0.09414734, 0.01409181, 0.05270869,
        0.24000768, 0.        , 1.        , 0.1764995 , 0.38166127,
        0.36419045, 0.12783581, 0.20080483, 0.36661779, 0.        ,
        0.07213123, 0.11671407],
       [0.12858612, 0.24713975, 0.24917984, 0.37738254, 0.26252251,
        0.22958595, 0.08374358, 0.17714442, 0.04193139, 0.29368924,
        0.0491952 , 0.19064438, 0.4854069 , 0.37958454, 0.46586854,
        0.42426407, 0.24243661, 0.1764995 , 1.        , 0.02834734,
        0.23843823, 0.24510699, 0.07606388, 0.09258201, 0.08017837,
        0.19126067, 0.18421131],
       [0.05670115, 0.        , 0.01248613, 0.        , 0.06431197,
        0.1581842 , 0.29234229, 0.01627361, 0.12711879, 0.40065542,
        0.47453538, 0.11033698, 0.1146666 , 0.09807483, 0.1100511 ,
        0.        , 0.53452248, 0.38166127, 0.02834734, 1.        ,
        0.45623848, 0.38553648, 0.08385255, 0.76546554, 0.04419417,
        0.07530181, 0.06092217],
       [0.21206395, 0.13299624, 0.33757955, 0.3678969 , 0.28013375,
        0.28036303, 0.66558904, 0.17599168, 0.23953655, 0.53395392,
        0.33968176, 0.43278766, 0.25982351, 0.22391171, 0.30965997,
        0.15655834, 0.21075162, 0.36419045, 0.23843823, 0.45623848,
        1.        , 0.47098782, 0.4433376 , 0.45069978, 0.11948494,
        0.43251277, 0.24401678],
       [0.23377509, 0.15441463, 0.12288373, 0.37287915, 0.26447584,
        0.30023769, 0.34395648, 0.22994205, 0.32901102, 0.32773788,
        0.44319192, 0.43214152, 0.39037045, 0.44055159, 0.45644108,
        0.08454479, 0.38045154, 0.12783581, 0.24510699, 0.38553648,
        0.47098782, 1.        , 0.34778161, 0.35514681, 0.33552672,
        0.30173009, 0.41684564],
       [0.08875134, 0.06092077, 0.36481931, 0.27907815, 0.07190297,
        0.0565937 , 0.42662346, 0.21833344, 0.12403473, 0.1846082 ,
        0.04850713, 0.3665569 , 0.13186405, 0.06432859, 0.0656218 ,
        0.01494036, 0.        , 0.20080483, 0.07606388, 0.08385255,
        0.4433376 , 0.34778161, 1.        , 0.09128709, 0.07905694,
        0.27389809, 0.23007075],
       [0.        , 0.        , 0.        , 0.        , 0.0525105 ,
        0.15498823, 0.35176324, 0.        , 0.03774257, 0.35687321,
        0.44280744, 0.20591947, 0.05349994, 0.03203111, 0.11980846,
        0.05455447, 0.32732684, 0.36661779, 0.09258201, 0.76546554,
        0.45069978, 0.35514681, 0.09128709, 1.        , 0.        ,
        0.        , 0.        ],
       [0.44103146, 0.48162097, 0.07063224, 0.1470871 , 0.13642629,
        0.178965  , 0.08703883, 0.09205746, 0.42491829, 0.03434014,
        0.03834825, 0.26749723, 0.37860111, 0.47157578, 0.20751434,
        0.        , 0.09449112, 0.        , 0.08017837, 0.04419417,
        0.11948494, 0.33552672, 0.07905694, 0.        , 1.        ,
        0.55376279, 0.67010963],
       [0.27326076, 0.22977556, 0.24738457, 0.20884965, 0.09298191,
        0.10672755, 0.23728672, 0.26665414, 0.06683189, 0.12092411,
        0.05227282, 0.2734708 , 0.15788988, 0.43484132, 0.38893874,
        0.12880164, 0.16100205, 0.07213123, 0.19126067, 0.07530181,
        0.43251277, 0.30173009, 0.27389809, 0.        , 0.55376279,
        1.        , 0.32622574],
       [0.49865562, 0.40572885, 0.28669272, 0.41678696, 0.49454175,
        0.32208742, 0.179976  , 0.28200499, 0.4505805 , 0.17357366,
        0.1644642 , 0.38923394, 0.45783353, 0.41213748, 0.26222245,
        0.26051414, 0.17367609, 0.11671407, 0.18421131, 0.06092217,
        0.24401678, 0.41684564, 0.23007075, 0.        , 0.67010963,
        0.32622574, 1.        ]])

In [14]:
product_ID = int(input('Enter Product ID according to data set : '))
data = list(df_pivot.index) #shows list of ProductID in data-set
print(data)

Enter Product ID according to data set : 777
[89, 333, 369, 444, 684, 697, 767, 777, 823, 847, 853, 858, 862, 910, 949, 1002, 1003, 1049, 1060, 1065, 1077, 1080, 1095, 1120, 6969, 8001, 9696]

In [15]:
query_index = data.index(product_ID) #shows index of productID by USER
print(query_index)

7

In [16]:
similarity, indices = model_knn.kneighbors(df_pivot.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 8)
print(similarity) #shows similarity distance through productID by USER
print(indices) #shows indexs of productID by USER

[[0.         0.49716128 0.54767215 0.66347191 0.71799501 0.73334586
  0.76981209 0.77005795]]
[[ 7  2 15  6 26 25  3 21]]

# Create dictionary and store recommendations of productID which is given by USER

In [17]:
data_dict={}
for i in range(0, len(similarity.flatten())):    #gives length of similarity array

    if i == 0:
        print('Recommendations for {0}:\n'.format(df_pivot.index[query_index]))
    else:
        data_dict[str(df_pivot.index[indices.flatten()[i]])] = float(similarity.flatten()[i])
        print(f'{df_pivot.index[indices.flatten()[i]]}, is similarity distance = with {similarity.flatten()[i]:.20f}:')

print(data_dict)

Recommendations for 777:

369, is similarity distance = with 0.49716127718296421190:
1002, is similarity distance = with 0.54767214958450627371:
767, is similarity distance = with 0.66347190960628998901:
9696, is similarity distance = with 0.71799500811495575725:
8001, is similarity distance = with 0.73334586324316042294:
444, is similarity distance = with 0.76981209138512451950:
1080, is similarity distance = with 0.77005794946619399166:
{'369': 0.4971612771829642, '1002': 0.5476721495845063, '767': 0.66347190960629, '9696': 0.7179950081149558, '8001': 0.7333458632431604, '444': 0.7698120913851245, '1080': 0.770057949466194}

In [18]:
!pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 7.1 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.7.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633726 sha256=2daaa51cfcfbac3c01ccf460c3d9fe9b96d64f6b1b295bfca9b472f74803f03a
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [19]:
import surprise
from surprise import SVDpp
from surprise import Dataset
from surprise.model_selection import cross_validate
from surprise.model_selection import GridSearchCV
from surprise import Reader
from sklearn.model_selection import  train_test_split

In [20]:
df = pd.read_csv("cloths-rating (2).csv")
df.head()

,ProductID,UserID,Rating,Text
0,777,AV1YnR7wglJLPUi8IJmi,4,Great taffy at a great price.
1,767,AVpfpK8KLJeJML43BCuD,4,Absolutely wonderful - silky and sexy and comf...
2,1080,AVqkIdntQMlgsOJE6fuB,5,Love this dress! it's sooo pretty.
3,1077,AVpfpK8KLJeJML43BCuD,3,I had such high hopes for this dress and reall...
4,1049,AVpfpK8KLJeJML43BCuD,5,"I love, love, love this jumpsuit. it's fun, fl..."

In [21]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['UserID'] = le.fit_transform(df['UserID'])
df

,ProductID,UserID,Rating,Text
0,777,0,4,Great taffy at a great price.
1,767,3,4,Absolutely wonderful - silky and sexy and comf...
2,1080,13,5,Love this dress! it's sooo pretty.
3,1077,3,3,I had such high hopes for this dress and reall...
4,1049,3,5,"I love, love, love this jumpsuit. it's fun, fl..."
...,...,...,...,...
629,823,41,1,I placed order 4+1 soaps.But I have received w...
630,823,41,3,"The soap is ok for bathing, no scent at all, m..."
631,847,41,5,For a long time I was searching for Indian soa...
632,910,7,3,Good but not great
633,333,13,5,"Quick,easy to make & tasty too."

In [22]:
df = df.astype(str)

In [23]:
df.dtypes

ProductID    object
UserID       object
Rating       object
Text         object
dtype: object

# **Fitting the Model (SVDpp)**

In [24]:
reader = surprise.Reader(rating_scale=(1,5))

In [25]:
data = Dataset.load_from_df(df[['UserID','ProductID','Rating']],reader)

In [26]:
alg = surprise.SVDpp()

In [27]:
output = alg.fit(data.build_full_trainset())

# **Prediction On model**

In [28]:
pred = alg.predict(uid='3', iid='180')

In [29]:
score = pred.est
print(score)

3.9745799363143233

# **Making Recommendations**

In [30]:
ids = df['ProductID'].unique()
ids13 = df.loc[df['UserID'] == '13', 'ProductID']
ids_to_predict = np.setdiff1d(ids,ids13)

In [31]:
testset = [[13,ProductID,5] for ProductID in ids_to_predict]
predictions = alg.test(testset)
predictions[0]

Prediction(uid=13, iid='1002', r_ui=5, est=3.170835318882955, details={'was_impossible': False})

In [32]:
pred_ratings = np.array([pred.est for pred in predictions])
i_max = pred_ratings.argmax()
ProductID = ids_to_predict[i_max]
print("Top Item For User 13 has ProductID {0} With Predicting Rating {1}".format(ProductID,pred_ratings[i_max]))

Top Item For User 13 has ProductID 89 With Predicting Rating 4.256559164517632

# **Tuning and Evaluating the Model**

In [33]:
param_grid = { 'lr_all': [.001, .01], 'reg_all' : [.1,.5]} 
gs = surprise.model_selection.GridSearchCV(surprise.SVDpp, param_grid, measures=['RMSE', 'MAE'], cv = 5)
gs.fit(data)
print(gs.best_params['rmse'])

{'lr_all': 0.001, 'reg_all': 0.5}

In [34]:
alg = surprise.SVDpp(lr_all = .001)
output = surprise.model_selection.cross_validate(alg, data, verbose = True)

Evaluating RMSE, MAE of algorithm SVDpp on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.6463  1.5354  1.4588  1.7885  1.5894  1.6037  0.1112
MAE (testset)     1.4138  1.3644  1.2762  1.5801  1.3806  1.4030  0.0995
Fit time          0.15    0.12    0.13    0.13    0.12    0.13    0.01
Test time         0.01    0.00    0.00    0.00    0.00    0.00    0.00